$somepixel: 10px;
.main {
    background-color: #80808033;
    width: 50%;
    margin: $somepixel auto;
    padding: $somepixel;
}

.wrapp_main {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    clear: both;
}

.number_wrapp input {
    width: 148px;
    float: left;
    height: 38px;
    margin: 0px;
    border-color: rgb(169, 169, 169);
    padding: 0px;
    border-width: 1px;
    border-style: solid;
}

.wrapp_main select,
.wrapp_main button {
    width: 150px;
}

.card_main .card-body {
    display: flex;
    justify-content: space-around;
}