$somepixel:10px;
.main {
    background-color: #80808033;
    width: 50%;
    margin: $somepixel auto;
    padding: $somepixel;
}

.wrapp_main {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.wrapp_main select,
.wrapp_main input,
.wrapp_main button {
    min-width: 150px;
}